img{
	width:30%;
	height:30%;
}

body{
	display:flex;
	align-items: left;
	flex-direction: column;
	padding:10vh;	
}

.container{
	padding:4px;
	border: 6px;
	border-color: black;
	border-style: solid;
	background-color: 
}
#pcontent{
	font-size: 24px;
}